@charset "UTF-8";

.container {
    width: 960px;
    margin: 0 auto;
  }


header{
    height: 80px;
    background-color: white;
    color:slategray;
    display: flex;
    margin: 0 auto;

    justify-content: space-between;
    align-items:center;

}

h1{
    font-size: 30px;
    text-align: left;
}

.hader-right {
    display: flex;
    height: 100%;
    margin-right: 20px;  
    
}

.hader-right li {
    font-size: 15px;
    margin-right: 20px; 
    
}

.dog-image img{
    margin:  0 auto;
    width: 960px;
    height: 500px;
    display: flex;
    justify-content: center;
}

section {
 
    margin:  0 auto;
    color: slategray;

    
}

.sub-title {

    font-size: 35px;
    margin-left: 26px;
    margin-top: 60px;
    margin-bottom: 40px;
    
    
}

.articles {

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    
}

.article {

    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    

}

.article-img {

    width: 30%;
    height:20%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}



.article-content {

    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    


}

.read-more {

    text-align: right;

}

.read-more a {

    font-size: 20px;
    color: #6D86ED ;
    text-decoration: none;
}   

h2 {
    margin-left: 20px; 
    margin-top: 50px; 
    font-size: 30px;
    text-align: center;
    color: slategray;
}

.form-left{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
}

.name {
    height: 40px;
}

.email {
    height: 40px;
    margin-top: 25px;
}

.form-right {
    width: 600px;
    margin: 0 auto;
}

.textarea {
    width:600px;
    height: 300px;
    margin-top: 25px;
}

.submit {
    width: 200px;
    margin: 0 auto;
}

.button {
    width: 200px;
    height: 40px;
    margin-top: 25px;
    color: white;
    background-color: dimgray;
    border: none;
    outline: none;
    border-radius: 10px;
}

footer {
    color: white;
    background-color: black;
    height: 40px;
    width: 100%;
    margin-top: 100px;
}

.footer-right{
    margin-left: 5px;
   margin-top: 5px;
}
small {
   font-size: 20px;
}


@media screen and (max-width: 960px) {

    .container {
        width: 100%;

    }

    .dog-image {
        width: 95%;
    }

    header {
        display: flex;

    }

    h1 {
        margin-left: 20px;
    }

    .form-left{
        width: 70%;
    }

    .form-right {
        width:  70%;
    }

    .textarea {
        width:99.4%;
    }

    .submit {
        width: 50%;
    }
    
    .button {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .hader-right {
        display: none;

    }
    h2 {
        text-align: center;

    }

    .aryicles {
        justify-content: center;
    }


}

.attachment-thumbnail size-thumbnail wp-post-image{
    width: 30%;
    height:20%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}